@using TDR.ViewModels.Votacao;
@using TDRDomain.Bases;
@model UpdateVoteViewModel

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link href="~/css/BaseError.css" rel="stylesheet" />
</head>

<h1>Editar Voto - Mudanças de Voto Restantes: <bold>@Model.InteractionsNumber</bold></h1>

<hr />

@if (ViewData["BaseError"] as BaseError is BaseError baseError)
{
    foreach (var error in baseError.Errors)
    {
        <p class="text-danger-base-error">Field: @error.Field - Error: @error.Description</p>
    }
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MenuName" class="control-label"></label>
                <input asp-for="MenuName" class="form-control" readonly="readonly" />
                <span asp-validation-for="MenuName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuDate" class="control-label"></label>
                <input type="date" asp-for="MenuDate" class="form-control" readonly="readonly" />
                <span asp-validation-for="MenuDate" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select id="selectValue" asp-for="State" class="form-control">
                    <option value="@Convert.ToBoolean(1)">Irei Comer</option>
                    <option value="@Convert.ToBoolean(0)">Não vou Comer</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="MenuFk" />
            <input type="hidden" asp-for="UserFk" />
            <input type="hidden" asp-for="InteractionsNumber" />
            <div class="form-group">
                <input type="submit" value="Enviar" class="btn btn-primary" disabled id="submitButton" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {

    <script src="~/js/BaseError.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var selectElement = document.getElementById("selectValue");
            var submitButton = document.getElementById("submitButton");

            // Adiciona um ouvinte de evento de mudança para o select
            selectElement.addEventListener("change", function () {
                // Verifica se o valor selecionado é diferente do valor padrão
                if (selectElement.value !== '@Model.State') {
                    // Se for diferente, habilita o botão de envio
                    submitButton.disabled = false;
                } else {
                    // Se for o mesmo, desabilita o botão de envio
                    submitButton.disabled = true;
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
