@using System.Globalization;
@model TDR.ViewModels.Cardapios.ReadMenuViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<div>
    <h4>Cardapio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Model?.Date.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartVote)
        </dt>
        <dd class="col-sm-10">
            @Model?.StartVote.ToString(new CultureInfo("pt-BR"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndVote)
        </dt>
        <dd class="col-sm-10">
            @Model?.EndVote.ToString(new CultureInfo("pt-BR"))
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
